# Python
__pycache__/
*.pyc
*.pyo
*.pyd
uploads/*.xlsx
.Python
.venv/
venv/
env/

# Environment variables
.env

# Excel sensitive models
models/
outputs/
logs/

# Excel temporary files
~$*.xlsx
~$*.xlsm

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/