# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
venv/
env/

# Environment variables
.env

# Keep local Excel models out of Git
models/*
!models/.gitkeep

uploads/*
!uploads/.gitkeep

outputs/*
!outputs/.gitkeep

logs/*
!logs/.gitkeep

# Excel files
*.xlsx
*.xlsm
*.xls
~$*.xlsx

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/